<div class="sidebar-wrapper">
  <div class="logo">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/image_12.jpg" class="simple-text logo-mini" alt="image" height="" width="70px"
      /></a>
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logo-maroc.png" class="simple-text logo-mini" alt="image" height="" width="70px"
      /></a>
  </div>
  <ul class="nav">
    <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/main'">
        <i class="fa fa-desktop"></i>
        <p>Dashboard</p>
      </a>
    </li>
    <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/user'">
        <i class="nc-icon nc-single-02"></i>
        <p>Profil de l'utilisateur</p>
      </a>
    </li>
    <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/redevables'" class="d-flex">
        <img width="25" src="assets/img/technical-support.png" alt="icon">
        <p>Redevable</p>
      </a>
    </li>  <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/locals'" class="d-flex">
        <i class="fa fa-database"></i>
        <p>Local</p>
      </a>
    </li>
    <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/categories'" class="d-flex">
        <i class="fa fa-briefcase"></i>
        <p>Categorie</p>
      </a>
    </li>
    <li routerLinkActive="active" class="">
      <a [routerLink]="'/dashboard/taxeBoisson'" class="d-flex">
        <i class="fa fa-coffee"></i>
        <p>Taxe Boisson</p>
      </a>
    </li>
  </ul>
</div>
