<div class="container">
  <div class="row">
    <!-- The image half -->
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <!-- The content half -->
    <div class="col-md-6">
      <div class="login d-flex align-items-center py-5">
        <!-- Demo content-->
        <div class="container">
          <div class="row">
            <div class="col-lg-10 col-xl-7 mx-auto">
              <h3 class="display-4">Authentification</h3>
              <p class="text-muted mb-4">Connectez-vous à votre compte.</p>
              <form>
                <div class="form-group mb-3">
                  <app-text-input [label]="'Nom d\'utlisateur'"></app-text-input>
                </div>
                <div class="form-group mb-3">
                  <input
                    id="inputPassword"
                    type="password"
                    placeholder="Password"
                    required=""
                    class="
                      form-control
                      rounded-pill
                      shadow-sm
                      px-4
                      text-primary
                      border-4 border-info
                    "
                  />
                </div>
                <button
                  type="submit"
                  class="
                    btn btn-info btn-block
                    text-uppercase
                    mb-2
                    rounded-pill
                    shadow-sm
                  "
                >
                  Connection
                </button>
              </form>
            </div>
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
    <!-- End -->
  </div>
</div>
<ngx-spinner name="myspin" style="height: 100% !important" bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#fff"
             type="ball-circus" [fullScreen]="true"><p style="color: white"> Chargement ... </p></ngx-spinner>
